---

---

<style>
	.gradient-bg {
		background: linear-gradient(to bottom, #1a1a1a, #000000);
		min-height: 100vh;
		width: 100%;
	}
</style>

<div class="gradient-bg flex">
	<div class="flex">

	</div>
	<div class="flex">
		<h1>Welcome to Astro!</h1>
	</div>
</div>
